.video-container {
  position: relative;
  padding-bottom: 30%;
  margin: auto;
  padding-top: 30px;
  height: 0;
  width: 60%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-title {
  margin-bottom: 1px;
  color: #000;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 50rem;
}

.content {
  padding-top: 0px;
  padding-bottom: 20px;
}

.highlight-two {
  background-size: auto;
  background-image: url('/public/images/texture-blue-1.svg');
  background-repeat: no-repeat;
}

.topbar {
  top: 0;
  width: 100vw;
  z-index: 1000000;
}

.info-box {
  font-size: 16px;
  border-radius: 5px;
  background: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.info-box h3 {
  font-size: 17px;
}

.info-box .title {
  margin-left: 10px;
  margin-top: 0;
}

.info-box .content {
  padding-right: 15px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.topbar-nav-item {
  padding-left: 10px;
  padding-right: 10px;
  color: #242424;
}

.topbar-nav-item.active {
  color: #000;
  font-weight: bold;
}

.footer {
  padding: 10px;
  text-align: center;
  color: darkgray;
  font-size: 16px;
}

.top-black-bar {
  width: 100vw;
  height: 10px;
  z-index: 1000;
  background-color: #000;
}

.tag {
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
  color: #999b9e;
  font-size: 16px;
  line-height: 35px;
}

.schedule {
  border: 1px solid #e6e6e6;
  background: #000;
  padding: 6px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  line-height: 50px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
}

.schedule:hover {
  transform: scale(1.03);
}

.dotted-hr {
  border: none;
  border-top: 1px dotted #afafaf;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

h1,
h2 {
  color: #000;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  margin: 10px;
}

.notice {
  background: #f9f5f1;
  padding: 20px;
  border-radius: 5px;
}

.news {
  transition: all 0.2s ease-in-out;
}

.news:hover {
  transform: scale(1.03);
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
