<!DOCTYPE html>
<html lang="en-us">
  <div class="top-black-bar"></div>
  {% include head.html %} {% include topbar.html %}
  <body class="layout">
    <div class="container">{{ content }}</div>
    <div class="container footer" style="padding-bottom: 20px">
      <div class="container" style="font-family: 'Montserrat'">
        <div class="row">
          <div
            class="col-12 d-flex flex-md-row flex-column justify-content-center"
          >
            <span style="margin-right: 10px"
              ><a href="mailto://vishwesh@sifar.vc" target="_blank"
                >📧 vishwesh@sifar.vc</a
              ></span
            >
            <span style="margin-right: 10px"
              ><a href="mailto://akshay@sifar.vc" target="_blank"
                >📧 akshay@sifar.vc</a
              ></span
            >
          </div>
        </div>
        <div class="row" style="padding-top: 10px">
          <div class="text-center col-12">2012-2021</div>
          <div class="text-center col-12">All Rights Reserved.</div>
        </div>
        <div class="row">
          <div class="text-center col-12" style="font-weight: 600">
            ❤️ Sifar Ventures LLP
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
